.movie-page-container-table {
  padding: 30px;
}
.movie-page-container-table .movie-page-table {
  padding: 20px;
}
.movie-page-container-table .movie-page-table .movie-page-th {
  padding: 15px;
  border: 1px solid #000;
  font-size: 18px;
  color: #ecb365;
}
@media (min-width: 300px) {
  .movie-page-container-table .movie-page-table .movie-page-th {
    font-size: 10px;
  }
}
@media (min-width: 375px) {
  .movie-page-container-table .movie-page-table .movie-page-th {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .movie-page-container-table .movie-page-table .movie-page-th {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .movie-page-container-table .movie-page-table .movie-page-th {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .movie-page-container-table .movie-page-table .movie-page-th {
    font-size: 18px;
  }
}
.movie-page-container-table .movie-page-table .movie-page-tr {
  color: #fff;
}
.movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td {
  border: 1px solid #000;
  padding: 16px;
  font-size: 18px;
}
@media (min-width: 300px) {
  .movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td {
    font-size: 10px;
    padding: 8px;
  }
}
@media (min-width: 375px) {
  .movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td {
    font-size: 12px;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td {
    font-size: 14px;
    padding: 12px;
  }
}
@media (min-width: 992px) {
  .movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td {
    font-size: 16px;
    padding: 14px;
  }
}
@media (min-width: 992px) {
  .movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td {
    font-size: 18px;
    padding: 16px;
  }
}
.movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td .movie-page-button {
  padding: 10px 20px;
  font-size: 14px;
  border: 2px solid #ecb365;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s, color 0.3s;
  transition: opacity 0.3s, color 0.3s;
}
.movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td .movie-page-button:hover {
  opacity: 0.96;
  color: #ecb365;
}
@media (min-width: 300px) {
  .movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td .movie-page-button {
    font-size: 10px;
    padding: 2px 4px;
  }
}
@media (min-width: 375px) {
  .movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td .movie-page-button {
    font-size: 12px;
    padding: 4px 8px;
  }
}
@media (min-width: 768px) {
  .movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td .movie-page-button {
    font-size: 14px;
    padding: 6px 12px;
  }
}
@media (min-width: 992px) {
  .movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td .movie-page-button {
    font-size: 16px;
    padding: 8px 16px;
  }
}
@media (min-width: 1200px) {
  .movie-page-container-table .movie-page-table .movie-page-tr .movie-page-td .movie-page-button {
    font-size: 18px;
    padding: 10px 20px;
  }
}/*# sourceMappingURL=MoviePage.css.map */