@import '../../styles/varibles.scss';

.booking-place-box {
	width: 450px;
	height: 370px;
	border-radius: 10px;
	background-color: $fifth-color;

	color: $third-color;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;

	@media (min-width: 300px) {
		width: 280px;
		height: 300px;
		gap: 0px;
	}

	@media (min-width: 375px) {
		width: 300px;
		height: 320px;
		gap: 0;
	}

	@media (min-width: 768px) {
		width: 400px;
		height: 340px;
		gap: 5px;
	}

	@media (min-width: 992px) {
		width: 450px;
		height: 370px;
		gap: 10px;
	}

	@media (min-width: 1200px) {
		width: 450px;
		height: 370px;
		gap: 15px;
	}
	.booking-place-main-text {
		text-align: center;
		padding: 10px;
		font-size: 28px;

		@media (min-width: 300px) {
			padding: 0px;
			font-size: 18px;
		}

		@media (min-width: 375px) {
			padding: 0;
			font-size: 20px;
		}

		@media (min-width: 768px) {
			padding: 5;
			font-size: 22px;
		}

		@media (min-width: 992px) {
			padding: 10px;
			font-size: 24px;
		}

		@media (min-width: 1200px) {
			padding: 10px;
			font-size: 28px;
		}
	}

	.booking-place-details {
		padding: 20px;
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		@media (min-width: 300px) {
			font-size: 12px;
		}

		@media (min-width: 375px) {
			font-size: 14px;
		}

		@media (min-width: 768px) {
			font-size: 16px;
		}

		@media (min-width: 992px) {
			font-size: 18px;
		}

		@media (min-width: 1200px) {
			font-size: 20px;
		}

		.booking-place-details-text-color {
			padding: 20px;
			text-align: center;
			color: $second-color;
		}
	}

	.booking-place-box-buttons {
		padding: 10px;
		display: flex;
		gap: 20px;

		.booking-place-box-button {
			padding: 10px 20px;
			font-size: 14px;
			border: 2px solid $second-color;
			border-radius: 10px;
			cursor: pointer;
			transition: opacity 0.3s, color 0.3s;
			&:hover {
				opacity: 0.96;
				color: $second-color;
			}

			@media (min-width: 300px) {
				font-size: 8px;
				padding: 5px 10px;
			}

			@media (min-width: 375px) {
				font-size: 10px;
				padding: 6px 12px;
			}

			@media (min-width: 768px) {
				font-size: 12px;
				padding: 8px 16px;
			}

			@media (min-width: 992px) {
				font-size: 14px;
				padding: 10px 20px;
			}

			@media (min-width: 1200px) {
				font-size: 14px;
				padding: 10px 20px;
			}
		}
	}
}
