@import '../../styles//varibles.scss';

.movie-page-container-table {
	padding: 30px;

	.movie-page-table {
		padding: 20px;

		.movie-page-th {
			padding: 15px;
			border: 1px solid $forth-color;
			font-size: 18px;
			color: $second-color;

			@media (min-width: 300px) {
				font-size: 10px;
			}

			@media (min-width: 375px) {
				font-size: 12px;
			}

			@media (min-width: 768px) {
				font-size: 14px;
			}

			@media (min-width: 992px) {
				font-size: 16px;
			}

			@media (min-width: 992px) {
				font-size: 18px;
			}
		}

		.movie-page-tr {
			color: $third-color;
			.movie-page-td {
				border: 1px solid $forth-color;
				padding: 16px;
				font-size: 18px;

				@media (min-width: 300px) {
					font-size: 10px;
					padding: 8px;
				}

				@media (min-width: 375px) {
					font-size: 12px;
					padding: 10px;
				}

				@media (min-width: 768px) {
					font-size: 14px;
					padding: 12px;
				}

				@media (min-width: 992px) {
					font-size: 16px;
					padding: 14px;
				}

				@media (min-width: 992px) {
					font-size: 18px;
					padding: 16px;
				}

				.movie-page-button {
					padding: 10px 20px;
					font-size: 14px;
					border: 2px solid $second-color;
					border-radius: 10px;
					cursor: pointer;
					transition: opacity 0.3s, color 0.3s;
					&:hover {
						opacity: 0.96;
						color: $second-color;
					}

					@media (min-width: 300px) {
						font-size: 10px;
						padding: 2px 4px;
					}

					@media (min-width: 375px) {
						font-size: 12px;
						padding: 4px 8px;
					}

					@media (min-width: 768px) {
						font-size: 14px;
						padding: 6px 12px;
					}

					@media (min-width: 992px) {
						font-size: 16px;
						padding: 8px 16px;
					}

					@media (min-width: 1200px) {
						font-size: 18px;
						padding: 10px 20px;
					}
				}
			}
		}
	}
}
