@import '../../styles//varibles.scss';

.movie-page-container-table {
	padding: 30px;

	.movie-page-table {
		padding: 20px;

		.movie-page-th {
			padding: 15px;
			border: 1px solid $forth-color;
			font-size: 18px;
			color: $second-color;
		}

		.movie-page-tr {
			color: $third-color;
			.movie-page-td {
				border: 1px solid $forth-color;
				padding: 16px;
				font-size: 18px;

				.movie-page-button {
					padding: 10px 20px;
					font-size: 14px;
					border: 2px solid $second-color;
					border-radius: 10px;
					cursor: pointer;
					transition: opacity 0.3s, color 0.3s;
					&:hover {
						opacity: 0.96;
						color: $second-color;
					}
				}
			}
		}
	}
}
