$main-color-bacground: #041c32;
$second-color: #ecb365;
$third-color: #fff;

.container-home-page {
	padding: 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	.home-page-box-text {
		margin-bottom: 30px;

		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;

		.home-page-text-main {
			font-size: 30px;
			font-weight: 300;
		}

		.home-page-text-below {
			font-size: 16px;
			font-weight: 500;
		}
	}
	.home-page-box-button {
		padding: 0 5px;

		.home-page-button-go-to-movies-page {
			padding: 14px 42px;
			font-size: 16px;
			border: 2px solid #ecb365;
			border-radius: 10px;
			cursor: pointer;
			transition: opacity 0.3s, color 0.3s;
			&:hover {
				opacity: 0.96;
				color: #ecb365;
			}
		}
	}
}
