$main-color-bacground: #041c32;
$second-color: #ecb365;
$third-color: #fff;

.header {
	height: 50px;
	background-color: $main-color-bacground;
	display: flex;
	justify-content: center;
	align-items: center;

	.menu {
		display: flex;
		justify-content: center;
		gap: 20px;
		color: $third-color;

		.menu-link {
			color: $third-color;
			transition: color 0.3s;

			&:hover {
				color: $second-color;
			}
		}
	}
}

.main {
	min-height: calc(100vh - 100px);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('https://cdn.pixabay.com/photo/2015/06/27/16/38/sky-823624_1280.jpg');
	background-position: center;
	background-size: cover;
	background-color: $third-color;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	height: 50px;
	background-color: $main-color-bacground;
	color: $third-color;
	display: flex;
	justify-content: center;
	align-items: center;
}
