@import '../../styles//varibles.scss';

.card {
	border-radius: 10px;
	background-color: $fifth-color;
	color: $third-color;
	width: 550px;
	height: 370px;
	display: flex;
	align-items: center;

	@media (min-width: 375px) {
		width: 300px;
		height: 300px;
	}

	@media (min-width: 300px) {
		width: 300px;
		height: 300px;
	}

	.card-box-image {
		width: 40%;
		height: 100%;
		border-radius: 10px;
	}

	.card-details {
		height: 100%;
		width: 60%;
		padding: 20px;

		.card-details-title {
			font-size: 32px;
			font-weight: 500;
			margin-bottom: 10px;

			@media (min-width: 300px) {
				font-size: 16px;
			}

			@media (min-width: 375px) {
				font-size: 20px;
			}
		}

		.card-details-box-text {
			height: 10%;
			display: flex;
			justify-content: flex-start;
			gap: 20px;

			@media (min-width: 300px) {
				font-size: 10px;
				gap: 5px;
			}

			@media (min-width: 375px) {
				font-size: 12px;
				gap: 10px;
			}

			@media (min-width: 768px) {
			}
		}

		.card-details-box-text-main {
			height: 60%;
			font-size: 16px;

			@media (min-width: 375px) {
				font-size: 12px;
			}

			.card-details-box-text-show-more {
				padding: 5px 0;
				font-size: 14px;
				color: $second-color;
				cursor: pointer;

				@media (min-width: 375px) {
					font-size: 10px;
				}
			}
			.card-details-box-text-main-link {
				padding: 25px 0;

				@media (min-width: 375px) {
					font-size: 10px;
				}

				.card-details-text-main-link {
					color: $second-color;
					transition: color 0.3s;
					&:hover {
						color: $third-color;
					}
				}
			}
		}
	}

	.card-box-button {
		padding: 0 5px;
		.card-button-go-to-booking-page {
			padding: 10px 20px;
			font-size: 14px;
			border: 2px solid $second-color;
			border-radius: 10px;
			cursor: pointer;
			transition: opacity 0.3s, color 0.3s;
			&:hover {
				opacity: 0.96;
				color: $second-color;
			}

			@media (min-width: 375px) {
				font-size: 10px;
				padding: 5px 10px;
			}
		}
	}
}
