@import '../../styles//varibles.scss';

.popup-reservacion-place {
	background-color: $main-color-bacground;
	border-radius: 10px 10px;
	padding: 30px 50px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.popup-reservation-place-box-button {
		padding: 5px;
		width: 105%;
		display: flex;
		justify-content: right;
		align-items: center;

		.popup-reservation-place-button-close {
			padding: 5;
			background-color: transparent;
			border: none;
			color: $third-color;
			font-size: 16px;
			cursor: pointer;
		}
	}
	.popup-reservation-place-box-button-reservation {
		padding: 10px;
		display: flex;
		justify-content: center;
		border: 1px solid $third-color;
		border-radius: 0 0 10px 10px;

		.popup-reservation-place-button-go-to-booking {
			padding: 10px 20px;
			font-size: 14px;
			border: 2px solid $second-color;
			border-radius: 10px;
			cursor: pointer;
			transition: opacity 0.3s, color 0.3s;
			&:hover {
				opacity: 0.96;
				color: $second-color;
			}
		}
	}
}
